header {
  background-color: #2C3A47;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
}

 .addtask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.addtask h1 {
  margin-bottom: 10px;
}

.addtask textarea {
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
  resize: none;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(151, 23, 23);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
}

.addtask button {
  margin-bottom: 10px;
}

.addtask .btns span{
  border: 1px solid black;
  border-radius: 4px;
  margin: 58px;
  padding: 3px;
  background-color: lightgray;
}

footer {
  background-color: #2C3A47;
  color: #fff;
  height: 45px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.footer-content {
  font-size: 15px;
}

section{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}


.active{
  background-color: gray;
  border-radius: 5px;
  padding: 1px;
}



